In [49]:
import pandas as pd

df = pd.read_csv('data/homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [50]:
# total number of actions
print(df.action.value_counts())
print(df.action.shape[0])

view     6328
click    1860
Name: action, dtype: int64
8188

In [51]:
# number of unique users
df.id.nunique()

6328

In [53]:
# size of control group and experiment group
df.groupby('group').nunique()

            timestamp    id  group  action
group
control          4264  3332      1       2
experiment       3924  2996      1       2

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [43]:
# duration of this experiment
print(df.timestamp.max())
print(df.timestamp.min())

2017-01-18 10:24:08.629327
2016-09-24 17:42:27.839496

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [45]:
# action types in this experiment
df.action.unique()

array(['view', 'click'], dtype=object)

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

Both pages could have a total number of uniquee visitors. More total clicks could occur in one version , even if there is a greater percentage of clicks in the other version.

### 5. Define the click through rate (CTR) for this experiment.

The number of unique visitors who click at least once divided by the number of unique visitors who view the page.

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.


$$H_0: $CTR_{new}$ - CTR_{old}$ <= 0
$$H_1: $CTR_{new}$ - CTR_{old}$ > 0